$font-family-body: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-heading: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$foreground-color: #000;
$foreground-color-lighter: lighten($foreground-color, 10%);
$background-color: #fff;
$accent-color: #0f0;
