$regular-font-family: 'Jost', sans-serif;
$regular-font-weight: 400;
$regular-font-weight-bold: 700;

$heading-font-family: 'Hedvig Letters Serif', serif;
$heading-font-weight: 400;

$foreground-color: #091225;
$background-color: #f5fbf4;
$primary-color: #214ba6;
$accent-color: #3be92b;
