<!DOCTYPE html>
<html lang="{{ .Site.Language.LanguageCode }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,nofollow">

    <!-- Page Title -->
    {{ $title := .Site.Title }}
    {{ if .Title }}
        {{ $title = print .Title " | " $title }}
    {{ end }}
    <title>{{ $title }}</title>

    <!-- Stylesheets -->
    {{ with resources.Get "app.scss" | toCSS | minify | fingerprint }}
        <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
    {{ end }}
</head>
<body>
    <!-- Header -->
    {{ partial "header.html" . }}

    <!-- Page contents -->
    <main>
        {{ block "main" . }}{{ end }}
    </main>

    <!-- Footer -->
    {{ partial "footer.html" . }}

    <!-- JavaScript -->
    {{ with resources.Get "app.js" | js.Build | fingerprint }}
        <script src="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous" defer></script>
    {{ end }}
</body>
</html>
