{{ define "main" }}
    <div class="container-fluid">
        <h1>{{ .Title }}</h1>
        <div class="row">
            {{ range .Pages.ByWeight }}
                <div class="col-md-4">
                    <a href="{{ .RelPermalink }}" class="card my-2 text-decoration-none">
                        <span class="card-body">
                            <span class="card-title">{{ .LinkTitle }}</span>
                        </span>
                    </a>
                </div>
            {{ end }}
        </div>
    </div>
{{ end }}
